<!DOCTYPE html>
<html>
  <head>
    <title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h1>
    <%= respuesta %> <p>
	 <a href="/quizes/question"> Intetelo otra vez </a>
  </body>
</html>
